.table-header{
    background: #e6f323;
    padding: 10px;
}

.btn-right{
    float: right;
}
.padding-r{
    padding: 10px;
}
.edit-favers{
    padding: 10px;
    font-size: 18px;
}
.ul-padding{
    padding: 3px 10px;
}
.li-padding{
    padding: 0;
}
.modal-dialog{
    max-width: 72% !important;
}
.model-row{
    padding: 10px 0 !important;
}
.model-row{
    padding: 10px 0 !important;
}
.order-btn{
    margin: 3px;
    border-radius: 0;
    font-size: 14px;
    padding: 5px 8px;
}
.delete-btn{
    padding: 0 5px !important
}
.padding-th{
    padding: 10px 2px !important;
}
.padding-amount{
    padding: 18px 8px !important;
}