nav.navbar, .navbar-default {
  background-color: #1c79c3 !important;
  padding: 0px;
}
body {
  background:  #FFF !important;
}
.navbar-brand{
  padding: 6px 10px 0 20px;
}
.box-row{
  box-shadow: 4px 2px 1px 1px #ddd !important;
}
li{
  padding: 15px;
}
.collapse navbar-collapse{
  height: 54px !important;
}
.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}
:focus{
  outline: none !important;
}
.activeli{
  background: #e6f324;
}
.activeli >  a {
  color:#000 !important;
}
.mb-50{
  margin-bottom: 60px;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}
a{
  color: #FFF !important;
} 
a:hover{
  color: #FFF !important;
  text-decoration: none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
  background-color: transparent;
}