.padding{
    padding:10px;
}
.no-padding{
    padding: 0 !important
}
.no-margin{
    margin: 0 !important
}
.margin10{
    margin: 10px;
}
.margin-top0{
    margin-top: 0 !important
}
.modal-dialog{
    max-width: 51% !important;
}
.margin020{
    margin:0 20px !important
}
.favorItem:nth-child(odd) {
    background: #ececec;
    padding: 0 !important;
    border-bottom: 2px solid #b7b4b4;
  }
.favorItem:nth-child(even) {
    background: #fff;
    padding: 0 !important;
    border-bottom: 2px solid #b7b4b4;
}
.padding-right10{
    padding-right: 10px !important;
}
.modal.show .modal-dialog{
    margin-left: 2% !important;
}
.modal-dialog{
    max-width: 72% !important;
}
.model-row{
    padding: 10px 0 !important;
}
.list-item{
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    border: none;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.card-body{
    padding:10px !important
}
.col-lg-6{
    padding: 0 !important
}
.padding-main-row{
    padding:0 20px !important
}
.card{
    margin: 10px !important;
}
.thumblie{
    float: left;
    height: 100px;
    width: 100px;
}
.thumblie-content{
    padding-left: 110px;
}
.float-right{
    float: right;
}
.spanadd{
    background: #0f7912;
    padding: 2px 10px;
    border-radius: 10px;
    color: #fff;
    margin-top: -5px;
    cursor: default !important;
}

/* .modal-dialog{
    max-width:80% !important
} */
.count-input{
    width: 45px !important;
    text-align: center;
    background: #fff;
    height: 36px;
}
.card-height{
    height: 150px;
}
.box{
    background: transparent;
}
.green{
    background: green;
}
.btn-padding{
    padding: 5px 10px;
  }
.boder-radius{
    border-radius:0px !important; 
}
.btn-primary.focus, .btn-primary:focus, .btn-danger.focus, .btn-danger:focus{
    box-shadow: none !important;
}
.form-control:focus{
    box-shadow: none !important;
}