.navbar-light .navbar-brand{
  color:#fff;
}
.navbar-light .navbar-nav .nav-link{
  color:#fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color:#fff;
}
a:hover{
  padding: none !important
}